@page
@model SacramentMtgPlanner.Pages.Meetings.CreateModel

@{
    ViewData["Title"] = "Plan a Meeting";
}

<h1>Plan a Meeting</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="add-form-group">
                <label asp-for="Meeting.DateOfMeeting" class="control-label"></label>
                <input asp-for="Meeting.DateOfMeeting" class="form-control" />
                <span asp-validation-for="Meeting.DateOfMeeting" class="text-danger"></span>
            </div>
            <div class="add-form-group">
                <label asp-for="Meeting.ConductingLeader" class="control-label"></label>
                <input asp-for="Meeting.ConductingLeader" class="form-control" />
                <span asp-validation-for="Meeting.ConductingLeader" class="text-danger"></span>
            </div>
            <div class="add-form-group">
                <label asp-for="Meeting.OpeningHymn" class="control-label"></label>
                <input asp-for="Meeting.OpeningHymn" class="form-control" />
                <span asp-validation-for="Meeting.OpeningHymn" class="text-danger"></span>
            </div>
            <div class="add-form-group">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <input asp-for="Meeting.OpeningPrayer" class="form-control" />
                <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="add-form-group">
                <label asp-for="Meeting.SacramentHymn" class="control-label"></label>
                <input asp-for="Meeting.SacramentHymn" class="form-control" />
                <span asp-validation-for="Meeting.SacramentHymn" class="text-danger"></span>
            </div>
            <span class="add-italics">Please add speakers using the button below.</span>
            <div id="speakersContainer">
                <!-- Input fields for speakers and topics will be dynamically added here -->
            </div>

            <div class="add-form-group">
                <button type="button" id="addSpeaker" class="btn btn-primary">Add Speaker</button>
            </div>
            <div class="add-form-group">
                <label asp-for="Meeting.MusicalNumber" class="control-label"></label>
                <span>This field is optional, leave blank if no musical number will be presented.</span>
                <input asp-for="Meeting.MusicalNumber" class="form-control" />
                <span asp-validation-for="Meeting.MusicalNumber" class="text-danger"></span>
            </div>
            <div class="add-form-group">
                <label asp-for="Meeting.IntermediateHymn" class="control-label"></label>
                <input asp-for="Meeting.IntermediateHymn" class="form-control" />
                <span asp-validation-for="Meeting.IntermediateHymn" class="text-danger"></span>
            </div>
            <div class="add-form-group">
                <label asp-for="Meeting.ClosingHymn" class="control-label"></label>
                <input asp-for="Meeting.ClosingHymn" class="form-control" />
                <span asp-validation-for="Meeting.ClosingHymn" class="text-danger"></span>
            </div>
            <div class="add-form-group">
                <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                <input asp-for="Meeting.ClosingPrayer" class="form-control" />
                <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="add-form-group">
                <input type="submit" value="Add to Planner" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to all Meetings</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById('addSpeaker').addEventListener('click', function () {
            var speakersContainer = document.getElementById('speakersContainer');

            var newSpeaker = document.createElement('div');
            newSpeaker.classList.add('add-form-group');
            newSpeaker.innerHTML = `
                        <label class="control-label">Speaker</label>
                        <input name="Meeting.Speakers" class="form-control" />
                    `;
            speakersContainer.appendChild(newSpeaker);

            var newTopic = document.createElement('div');
            newTopic.classList.add('add-form-group');
            newTopic.innerHTML = `
                        <label class="control-label">Topic</label>
                        <input name="Meeting.Topics" class="form-control" />
                    `;
            speakersContainer.appendChild(newTopic);
        });
    </script>
}
