@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap') 
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap')

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*** Meetings/Create CSS ***/
.add-form-group
{
    padding: 1rem 1rem;
}

.add-form-group label
{
    padding-bottom: 5px;
}

.add-form-group span
{
    font-style: italic;
    display: block;
}

.add-italics
{
    font-style: italic;
    padding: 0.5rem 1rem;
    display: block;
}

body {
    background-color: #FFFDC2;
}

footer {
    background-color: #4F2903 !important;
}

header {
    background-color: #4F2903 !important;
    color: #00A3F5 !important;
}

.text-muted {
    color: #0AFFEF !important;
}

.navbar-light .navbar-brand {
    color: #00A3F5 !important;
}

.text-dark {
    color: #00A3F5 !important;
}

.bg-white {
    background-color: #4F2903 !important;
}

body {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}