html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*** Meetings/Create CSS ***/
.add-form-group
{
    padding: 1rem 1rem;
}

.add-form-group label
{
    padding-bottom: 5px;
}

.add-form-group span
{
    font-style: italic;
    display: block;
}

.add-italics
{
    font-style: italic;
    padding: 0.5rem 1rem;
    display: block;
}